<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Личный кабинет</title>
  <link id="theme" rel="stylesheet" type="text/css" href="./css/{{theme}}-theme.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header_inner">
      <div class="header_logo">Grocery Store</div>
      <nav class="navigation">
        <a class="nav-link" href="/">Сотрудничество</a>
        <a class="nav-link" href="/catalog">Каталог</a>
        <a id="change-theme" class="nav-link">Изменить тему</a>
        <a class="nav-link" href="/account">Личный кабинет</a>
        <a id="log_out" class="nav-link">Выйти</a>
      </nav>
    </div>
  </header>

  <main>
    <h1>Личный кабинет</h1>
    <p>Логин</p>
    {{username}}
    <p>Бонусный счёт</p>
    {{#unless error_message}}
    {{reward_balance}}
    {{else}}
    -
    {{/unless}}
    <p>Персональная реферальная ссылка</p>
    {{#unless error_message}}
    {{referral_url}} <input type="button" value="Скопировать ссылку" onclick="{{js_onclick_script}}">
    {{else}}
    -
    {{/unless}}
  </main>

  <footer>
      <p> Компания: Rotten Tomatoes <br> Контактные данные: +7(995)305-78-05</p>
  </footer>
  <script src="./js/utils.js"></script>
  <script src="./js/log_out.js"></script>
  <script src="./js/show_error_message.js"></script>
  <script>utils.init_theme_change();</script>
</body>
</html>
