<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Каталог</title>
  <link rel="stylesheet" type="text/css" href="./css/global.css">
</head>

<body>
  <nav>
    <a href="/account">Личный кабинет</a>
    {{#if is_auth}}
    <a id="log_out">Выйти из системы</a>
    {{else}}
    <a id="log_in" href="/login">Войти в систему</a>
    {{/if}}
  </nav>
  <div class="container">
    {{#each products}}
    <div class="item">
      <img style="height: 100%; width: 100%; object-fit: contain" src="{{this.image}}" alt="{{this.name}}" />
      <div>{{this.name}}</div>
      <div>{{this.price}} ₽</div>
      <form method="POST">
        <input type="hidden" name="product_uri" value="{{this.uri}}">
        <input type="submit" value="Купить">
      </form>
    </div>
    {{/each}}
  </div>
  <script src="./js/log_out.js"></script>
</body>

</html>
