<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>{{product.name}}</title>
  <link id="theme" rel="stylesheet" type="text/css" href="../css/{{theme}}-theme.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header_inner">
      <div class="header_logo">Grocery Store</div>
      <nav class="navigation">
        <a class="nav-link" href="/">Сотрудничество</a>
        <a class="nav-link" href="/catalog">Каталог</a>
        <a id="change-theme" class="nav-link">Изменить тему</a>
        <a class="nav-link" href="/account">Личный кабинет</a>
        {{#if is_auth}}
        <a id="log_out" class="nav-link">Выйти из системы</a>
        {{else}}
        <a id="log_in" class="nav-link" href="/login">Войти в систему</a>
        {{/if}}
      </nav>
    </div>
  </header>

  <main>
    <img style="height: 20%; width: 20%; object-fit: contain" src="{{product.image}}" alt="{{product.name}}" />
    </p>
    <label>Название</label> {{product.name}}
    <br>
    <label>Цена</label> {{product.price}}
    <p>Описание:</p>
    <p>{{product.description}}</p>
    <form method="POST">
      {{#if is_auth}}
      <input class="share" type="button" value="Поделиться" onclick="{{product.js_clipboard_script}}">
      {{/if}}
      <input type="submit" value="Купить" onclick="{{product.js_cursor_wait_script}}">
    </form>
  </main>

  <footer>
    <p> Компания: Rotten Tomatoes <br> Контактные данные: +7(995)305-78-05</p>
  </footer>
  <script src="../js/utils.js"></script>
  <script src="../js/log_out.js"></script>
  <script src="../js/show_purchase_message.js"></script>
  <script>utils.init_theme_change();</script>
</body>
</html>
